@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* Header Start */

header {

    background-color: #1a1a1a;
    text-align: center;
}

.box-1 {
    width: 60%;
    margin: auto;
    position: relative;
    padding: 20px 0;
}


.b-1 {
    left: 0;
    position: absolute;
}

.b-2 {
    right: 0;
    position: absolute;
}

.box-2 {
    margin-top: 280px;
    text-align: center;

}

.p-1,
.p-2 {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;

}

.p-1 {
    font-size: 1.25em;
    letter-spacing: 16px;
    text-transform: uppercase;

}

.p-2 {
    margin-top: 38px;
    letter-spacing: 8px;
}

.box-2>a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffe500;
    color: #1b1b1b;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    letter-spacing: 4px;
    display: inline-block;
    margin: auto;
    padding: 20px 35px;
    margin-top: 50px;
    margin-bottom: 250px;

}

.arrow {
    margin-bottom: 50px;
}

/* Header End */


/* Main Start */

main {
    padding-top: 160px;
    padding-bottom: 230px;
    text-align: center;
}

main>p {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    color: #707070;
    margin: auto;
    margin-top: 90px;
    width: 30%;
    line-height: 35px;
}

/* Main End */


/* 
<!-- Section 1 Start --> */

.s-1 {
    padding-top: 85px;
    padding-bottom: 40px;
    background-color: #f4f4f4;
    text-align: center;
}

.title {
    font-size: 1.2em;
    letter-spacing: 16px;
    font-family: 'Raleway', sans-serif;
    color: #1b1b1b;
    font-weight: bold;
    margin-top: 36px;
    text-transform: uppercase;
}


.caption {
    color: #828282;
    font-size: 0.9em;
    line-height: 30px;
    width: 40%;
    margin: auto;
    margin-top: 40px;
}

.cards {
    width: 61%;
    margin: auto;
    margin-top: 85px;

}

.card {
    width: 23%;
    display: inline-block;
    margin-left: 12px;
}

.c-1,
.c-2 {
    background-color: white;
}

.c-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-top: 50px;
    box-shadow: 0 0 10px gray;

}

.c-1 img {
    width: 70px;
    height: 70px;
}



.c-1 :nth-child(2) {
    font-family: 'Raleway', sans-serif;
    color: #1b1b1b;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 5px;
    white-space: pre-line;
    margin-top: 35px;

}




.c-1 :nth-child(3) {
    color: #828282;
    font-size: 0.9em;
    line-height: 20px;
    margin-top: 45px;
}


.c-2 {
    padding: 12px;
    box-shadow: 0 0 10px gray;
    margin-top: 28px;
}

.c-2 p {
    font-family: 'Raleway', sans-serif;
    color: #1b1b1b;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}

.progress {
    height: 5px;
    background-color: #f4f4f4;
    text-align: left;
    margin-top: 15px;
}

.sub {
    width: 80%;
    background-color: #ffe500;
    height: 5px;
}

/* 
<!-- Section 1 End --> */


/* <!-- Section 2 Start --> */

.s-2 {

    padding: 85px 0;
    background-color: #1a1a1a;

}

.section-container {
    width: 65%;
    margin: auto;
    text-align: center;
}

.sub-section {
    display: inline-block;
    padding: 12px;
    background-color: white;
    width: 20%;
    font-size: 0.8em;
    margin-left: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 12px;
    color: #1b1b1b;
    font-weight: bold;
    letter-spacing: 2px;

}

.sub-section>:nth-child(2) {
    margin-top: 12px;
    font-weight: lighter;
}



/* <!-- Section 2 End --> */


/* Section 3 :start */


.s-3 {
    text-align: center;
    padding-top: 83px;
    width: 100%;
}

.s3-title {
    margin-top: 35px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 16px;
    font-size: 1.2em;
    color: #1b1b1b;
    text-transform: uppercase;
    font-weight: bold;
}

.s3-text {
    margin-top: 35px;
    color: #b2b2b2;
    line-height: 20px;
    font-size: 0.9em;
    white-space: pre-line;
}

.s3-sub_section {
    margin-top: 87px;

}

.s3-border {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    display: inline-block;
    width: 24%;
    font-size: 0.6em;
    font-family: 'Raleway', 'sans -serif';
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #1b1b1b;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;

}

.s3-sub_section img {
    display: inline-block;
    margin-right: 65px;
    margin-left: 65px;
}

.s3-border p {

    color: #1b1b1b;
    position: absolute;

}

.s3-box {
    position: relative;
}

.s3-p-1 {
    left: 0;
    position: absolute;
}

.s3-p-2 {
    right: 0;
    position: absolute;
}


.s3-sub_section_2 {
    height: 350px;
    margin-top: 110px;
    border: 1px solid black;
}

.c {
    height: 100%;
    width: 16.7%;
    float: left;
}

.white {
    background-color: #f4f4f4;
}

.black {
    background-color: #1a1a1a;
}

.specialbox {
    float: left;
    background-color: #f4f4f4;
    height: 100%;
    width: 16.5%;
    position: relative;
}

.inside {
    background-color: #fde831;
    width: 93.75%;
    width: 73.4%;
    height: 74.2%;
    position: absolute;
    bottom: 15.62%;
    left: 12.5%;

}

.inside-2 {
    background-color: white;
    width: 93.75%;
    height: 54.2%;
    position: absolute;
    left: 3%;
    bottom: 25%;
}

.inside-2_title {
    text-transform: uppercase;
    margin-top: 30px;
    font-family: 'Raleway', 'sans-serif';
    letter-spacing: 1px;
    font-weight: bold;
    color: #1b1b1b;
    font-size: 0.8em;
}


.inside-2_text {
    margin-top: 25px;
    color: #7c7c7c;
    line-height: 20px;
    font-size: 0.7em;
    white-space: pre-line;
    margin-left: 25px;
    margin-right: 25px;
}


.s3-subsection_3 {
    padding-top: 90px;
    background-color: white;
}

.s3-subsection_3 a {
    text-decoration: none;
    text-align: center;
    color: #1b1b1b;
    font-family: 'Raleway', 'sans-serif';
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #ffe500;
    padding: 15px 35px;

}

/* Section 3 End */



/* Section 4 Start */





.sec_4 a {
    text-decoration: none;
    text-align: center;
    color: #ffe500;
    font-family: 'Raleway', 'sans-serif';
    letter-spacing: 10px;
    font-size: 1em;
    border: 2px #ffe500 solid;
    padding: 30px 45px;
    text-transform: uppercase;
}

.sec_4 {
    margin-top: 90px;
    margin-top: 90px;
    background-color: #1a1a1a;
    padding-top: 140px;
    padding-bottom: 160px;
    text-align: center;
}

/* 
Section 4 End */


/* Section 5 Start */



.section_5 {
    background-color: white;
    padding-top: 85px;
    text-align: center;
}

.sec5_title {
    text-transform: uppercase;
    letter-spacing: 16px;
    font-size: 1.2em;
    color: #1b1b1b;
    font-family: 'Raleway', 'sans-serif';
    margin-top: 35px;
    font-weight: bold;
}

.sec5_text {
    margin-top: 35px;
    color: #b2b2b2;
    line-height: 20px;
    font-size: 0.9em;
    white-space: pre-line;

}



/* Section 5 End */


/* Section 6 Start */


.sec6_container {
    width: 65%;
    margin: auto;
    margin-top: 85px;
    text-align: center;
    height: 515px;

}

.s6_box {
    margin-left: 30px;
    width: 20%;
    height: 100%;
    float: left;
    box-shadow: 0 0 10px gray;


}

.s6_box_sub {
    height: 56.3%;
    background-color: #1a1a1a;

}



.s6_box_sub_name {

    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.9em;
    letter-spacing: 3px;
    color: #1a1a1a;
    font-weight: bold;
    background-color: #d1bc05;
    text-align: center;
    font-family: 'Raleway', 'sans-serif';
}


.s6_box_sub_caption {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    white-space: pre-line;
    font-size: 0.8em;
    color: #b2b2b2;
    line-height: 13px;
    text-align: center;
    background-color: white;

}

/* Section 6 End */




/* Section 7 Start */

.s7-container {
    margin: auto;
    margin-top: 85px;
    width: 100%;
    height: 585px;
    text-align: center;
    position: relative;

}

.s7-sub_container {
    width: 62.5%;
    height: 100%;
    margin: auto;
    margin-top: 0px;
    position: relative;
}


.s7-box-1 {
    height: 60%;
    width: 49%;
    background-color: #1a1a1a;
    position: absolute;
    left: 0;
    padding-top: 50px;
    color: white;
    font-family: 'Raleway', 'sans-serif';
    font-size: 0.8em;


}

.s7-box-1 p {
    width: 75%;
    margin: auto;
    line-height: 12px;
    height: 75%;
}


.s7-box-2 {
    height: 63%;
    width: 49%;
    background-color: #1a1a1a;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-top: 50px;
}


.s7-box-3 {
    left: 6%;
    bottom: 6%;
    position: absolute;
    width: 40%;
    line-height: 12px;
    color: #b2b2b2;
    font-family: 'Raleway';
    font-size: 0.8em;
}

.name_style {
    color: #1a1a1a;
    font-weight: bold;
    text-align: left;
    font-style: italic;
    line-height: 1%;
}

.n1 {
    text-align: left;
    margin-left: 10px;
    margin-top: 6%;
}

.n2 {
    text-align: right;
    margin-right: 10px;
    margin-top: 3%;
}

.s7-box-4 {
    right: 6%;
    top: 6%;
    position: absolute;
    width: 40%;
    font-family: 'Raleway';
    font-size: 0.8em;
    white-space: pre-line;
    color: #b2b2b2;
    font-family: 'Raleway';
}

.s7-box-middle {
    position: absolute;
    top: 40%;
    bottom: 25%;
    background-color: #ffe500;
    width: 100%;
}


/* Section 7 End */


/* Section 8 Start */


footer {

    margin-top: 50px;
    padding-top: 90px;
    background-color: #1a1a1a;
    padding-bottom: 90px;
}

.f_container {


    margin-top: 10px;
    display: inline-block;
}

.sub_1 {
    margin-left: 10%;
    width: 32%;
    float: left;
}

.sub_1>:nth-child(2) {
    font-family: 'Raleway' sans-serif;
    font-size: 0.8em;
    color: white;
    line-height: 12px;
    margin-top: 25px;

}

.sub_1-text {
    margin-top: 65px;
    color: white;
    font-size: 0.9em;
    font-size: bold;
    
}

.sub_2 {

    float: left;
    margin-left: 30px;
}

.sub_2 a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.8em;
    color: white;
    text-align: left;
    white-space: pre-line;

}

footer .roundedlabel
{
    text-decoration: none;
    border-radius: 15px;
    background-color: #ffe500;
    text-align: center;
    font-size: 0.6em;
    color: #1a1a1a;
    padding: 10px 100px;
    margin-top: 0px;
    font-weight: bold;
}

footer .circle
{
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

footer i
{
    margin-right: 10px;

}

/* Section 8 End */